Referencia: <input />
<button onclick="" value="buscar">buscar</button>

<h2><%= productoEncontrado.referencia %></h2>
<h2><%= productoEncontrado.nombre %></h2>
<h2><%= productoEncontrado.descripcion %></h2>
<h2><%= productoEncontrado.categoria %></h2>
