
<html>
    <%- include('../parciales/encabezado'); %>
<body>
   

<div >
    <img src="/assets/images/banner.jpg" alt="" height="80px" width="100%">
</div>

 <div>MI PRIMER RENDER EJS</div>
   <a class="btn btn-info" href="listardepartamentos">LISTAR</a>

 <%- include('../parciales/footer');%>
</body>
</html>